.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 3px solid green;
  }

p{
    color: #1D2B2C;
    font-family: inter-Semi;
}
@media(min-width: 768px){
    .news-input{
        width: 50%;
    }
}

.nav a:hover{
    color: #C24225;
}

